// COLORS
$denim: #0D58A6;
$bahama-blue: #26517C;
$prussian-blue: #04376C;
$picton-blue: #4188D2;
$picton-blue-light: #689CD2;
$orange-peel: #FF9900;
$geebung: #BF8630;
$tenne: #A66300;
$yellow-orange: #FFB240;
$chardonnay: #FFC773;


